.counter-bar {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    width: 100%;
    gap: 10px;
    padding: 8px;
    height: fit-content;
    min-height: fit-content;
    align-items: center;
  }
  
  .text {
    width: 30%;
    height: fit-content;
    text-align: flex-start;
    font-size: 16px;
    padding: 0px;
  }
  
  .button-container {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-around;
    min-width: 150px;
    width: 30%;
  }
  .name{
    width: 40%;
  }
  .value{
    width: 20%;
  }
  .delete{
    border: 2px solid #e65656;
    background-color: #e75a5a;
  }
  .delete:hover{
    background-color: #923737;
  }
  .action{
    border: 2px solid #35a18b;
    background-color: #3eedc9;
  }
  .action:hover{
    background-color: #2ecc71;
  }
  .button {
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    min-width: 50px;
    width: 45%;
    color: white;
    height: 100%;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .header{
    width: 100%;
  };
  .button:hover {
    transform: scale(1.05);
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
@media (min-width: 1200px) {
    .button {
      font-size: 36px;
    }
    .fa-solid {
      font-size: 36px;
    }
  }
  
  /*tablets*/
  @media (min-width: 768px) and (max-width: 1199px) {
    .button {
      font-size: 28px;
    }
    .fa-solid {
      font-size: 28px;
    }
  }
  
  /* mobile */
  @media (max-width: 767px) {
    .button {
      font-size: 14px;
      height: 50px;
      min-width: 35px;
    }
    .button-container {
        width: 45%;
        height: 100%;
    }
    .counter-bar{
      padding: 0;
    }
    .fa-solid {
      font-size: 10px;
    }
  }